.card{
    width: 200px;
    height: 420px;
    box-shadow:1px 4px 3px lightgray;
    border-radius: 10px;
    margin: 15px;

}


.image{
    width: 180px;
    height: 240px;

}

.card:hover{
    box-shadow:1px 4px 3px rgb(139, 139, 139) ;
    transition: all 0.6ms;
    cursor: pointer;
}

.detail-button{
    border:none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(185,76,76);
    color: white;
  
}

.detail-button:hover{
     cursor: pointer;
     background-color:rgb(212,164,101) ;
     transition: all 0.6ms;
}